@import 'tailwindcss';

@theme {
  --font-sans: 'Nunito', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', ui-monospace, monospace;

  --color-primary: #C5AFD4;
  --color-secondary: #9FCAC6;
}
